<div id="homepage">
  <div class='banner'>
    <div class="banner__img"></div>
    <div class="banner__headline">
      <h1 class="banner__headline--title">Encontre os melhores lugares para sua diversão.</h1><br />
      <h4 class="banner__headline--subtitle">Faça novas amizades, reuna todos seus amigos e divirta-se</h4><br /><br />
      <button class="btn__info btn--rounded" routerLink="events">Ver Eventos</button>
    </div>
  </div>
  <div class="events">
    <div class="events__hightlight">
      <h1 class="events__hightlight--title">Principais Eventos</h1>
      <div class="events__card" *ngFor="let event of events">
        <a routerLink="events/{{event?.title}}">
          <div class="card__header">
            <img [src]="event?.photo_url"  class="card__img"/>
          </div>
          <div class="card__content">
            <h4 class="card__content--title">{{event.title}}</h4>
            <div class="card__date">
              <span class="card__date--day">{{event?.start_date | date:"dd"}}</span>
              <br />
              <span>{{event?.start_date | date:"MMM"}} {{event?.start_date | date:"y"}}</span>
            </div>
            <div class="card__info">
              <span class="card__info--place">{{event?.place}}</span>
              <br />
              <span class="card__date--cep">{{event?.city}} - {{event?.state}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="promotion">
      <div class="promotion__preset">
        <div class="promotion__block">
          <img src="../../../../../assets/img/hostelprojectorganicfair.jpg" class="promotion__img" />
          <div class="promotion__description">
              <span class="promotion__description--texthuge">As melhores feiras <span class="promotion__description--textmuted">Com produtos variados para você</span></span>
              <p>
                participe do que há de melhor nas feiras orgânicas e de artesanato, promova saúde e arte em sua vida.
              </p>
          </div>
        </div>
        <div class="promotion__block ">
          <img src="../../../../../assets/img/hostelprojectparty.jpg" class="promotion__img" />
          <div class="promotion__description--left">
            <span class="promotion__description--texthuge">Eventos para todos os gosto <span class="promotion__description--textmuted"> Diversidade cultural.</span></span>
            <p>
              São diversos eventos para todas as tribos , do rock ao samba. Aqui você encontra os melhores eventos nos melhores Hostels.
            </p>
          </div>
        </div>
        <div class="promotion__block promotion__description--noborder">
          <img src="../../../../../assets/img/hostelprojectmeetfriend.jpg" class="promotion__img" />
          <div class="promotion__description">
            <span class="promotion__description--texthuge"> Encontre novos amigos <span class="promotion__description--textmuted">Se relacione com pessoas do mundo todo</span></span>
            <p>
              Aumente sua turma , seu convívio social. Entregue se a diversidade e a conhecer nossas pessoas.
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="partners">

  </div>
</div>
