#homepage{
  position: relative;
  top:0;
  width: 100%;
  .banner{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    .banner__img{
      width: 100%;
      min-height: 800px;
      background-color: #571A3D;
      opacity: 0.8;
    }
    .banner__headline{
      position: absolute;
      text-align: center;
      font-weight: 600;
      top:15em;

    .banner__headline--title{
      @extend .headline;
      font-weight: 900;
      color:$white
    }
    .banner__headline--subtitle{
      font-weight: lighter;
      color:#f0f0f0;
    }
    }
  }

  .events{
    min-height:300px;
    padding:24px 0;
   .events__hightlight{
      .events__hightlight--title{
        text-align: center;
        padding: 12px 0;
        line-height: 40px;
        font-weight: bolder;

      }
    }
  }

  .promotion{
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .promotion__preset{
      padding: 48px 24px;
      margin:0 auto;
      .promotion__block{
        padding: 12px 24px;
        // border-bottom:1px inset #ccc;
        // border-style: inset
      }
      .promotion__img{
        width:450px;
        height: 350px;
        object-fit: cover;
        padding:0px 6px;
        border-radius: 10%;

      }
      .promotion__description{
        padding:60px 12px;
        width:600px;
        float: right;
        .promotion__description--texthuge{
           font: 32px/44px 'Lato';
        }
        .promotion__description--textmuted{
          color:gray;
        }
      }
      .promotion__description--left{
        @extend .promotion__description;
        float:left;
      }
      .promotion__description--noborder{
        @extend .no-border ;
      }
    }
  }
}
