@font-face {
  font-family: 'Lato';
  src: url(../../assets/fonts/Lato-Regular.ttf) format("truetype");
}
@font-face {
  font-family:'OpenSans';
  src: url(../../assets/fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family:'CabinSketch';
  src: url(../../assets/fonts/CabinSketch-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'CabinSketchBold';
  font-weight: bold;
  src: url(../../assets/fonts/CabinSketch-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'Sriracha';
    src: url(../../assets/fonts/Sriracha-Regular.ttf) format("truetype");
}
