//Color Theme
$white:#FFFFFF;
$black:#000000;
$bgcolor:#F5F5F5;
$fontcolor: #CFD8DC;
$cleanblue:#E3F2FD;
$footercolor:#393e46;
// $bgcolor:#EDE7F6;
$fancy-yellow:#FBC02D;
$zombie-blue:#455A64;

// size
$navsize:90px;
