<div id="frontpage">
  <section class="header" sticky [stickyMin]="90" [stickyClass]>
    <nav class="header__navbar five offset-by-seven columns">
      <ul class="header__list">
        <li  *ngFor="let nav of nav "><a  routerLink="{{nav?.link}}">{{nav?.title}}</a></li>
      </ul>
    </nav>
    <span class="header__logo four offset-by-two columns ">
      <div class="header__logo--title">
        <a  class="" routerLink='/'>
          <i class="fa fa-bicycle"></i>Road . Travel
        </a>
      </div>
    </span>
  </section>
  <section class="wrapper">
    <div class="content">
      <router-outlet></router-outlet>
      <!-- reserved for content elements -->
    </div>
  </section>
  <section class="footer">
    <footer class="footer__block footer--align container">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="footer__description seven offset-by-two columns">
            Todos os Direitos Reservado à Vinculuzx 2016 - 2017
          </div>
          <div class="footer__social four colunms">
            <ul class="social__list">
              <li class="social__network social__network--twiiter"><a href="https://www.facebook.com/RoadTravelme-111002202914409/"><i class="fa fa-twitter"></i></a></li>
              <li class="social__network social__network--facebook"><a href="https://www.facebook.com/RoadTravelme-111002202914409/"><i class="fa fa-facebook"></i></a></li>
              <li class="social__network social__network--gplus"><a href="https://www.facebook.com/RoadTravelme-111002202914409/"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <!-- <button [routerLink]="['/contact']" class="btn__contact">Contate Nos</button> -->
          </div>
        </div>
      </div>
    </div>
    </footer>
  </section>
</div>
