<div id="frontpage">
  <section class="header" sticky [stickyMin]="90" [stickyClass]>
    <nav class="header__navbar five offset-by-seven columns">
      <ul class="header__list">
        <li  *ngFor="let nav of nav "><a  routerLink="{{nav?.link}}">{{nav?.title}}</a></li>
      </ul>
    </nav>
    <span class="header__logo four offset-by-two columns ">
      <div class="header__logo--title">
        <a  class="" routerLink='/'>
          <i class="fa fa-bicycle"></i>Road . Travel
        </a>
      </div>
    </span>
  </section>
  <section class="wrapper">
    <div class="content">
      <router-outlet></router-outlet>
      <!-- reserved for content elements -->
    </div>
  </section>
  <section class="footer">
    <footer class="footer__block footer--align container">
    <div class="row">
      <!-- reserved for footer elements -->
      <div class="footer__logo  footer__block--size">
        <img src="../../../../assets/img/ROADHOSTEL.png" class="footer__logoimg" />
      </div>
      <div class="footer__description footer__block--size">
        <h4 class="footer__block--title"><b>Sobre Nós</b></h4>
        <p class="footer__description--label">
          Road Travel é uma plataforma que divulga eventos culturais,
          feiras orgânicas, gastronômicas.
          Aqui preservamos um espaço democrático para todos os públicos.
        </p>
          <!-- <span class="footer__description--highlight footer__block--size">" Não somos uma plataforma mainstream ou cult , somos apenas democráticos ."</span> -->

      </div>
      <div class="footer__social  footer__block--size">
        <ul class="social__list">
          <li class="social__network social__network--twiiter"><a href="https://www.facebook.com/RoadTravelme-111002202914409/"><i class="fa fa-twitter"></i></a></li>
          <li class="social__network social__network--facebook"><a href="https://www.facebook.com/RoadTravelme-111002202914409/"><i class="fa fa-facebook"></i></a></li>
          <li class="social__network social__network--gplus"><a href="https://www.facebook.com/RoadTravelme-111002202914409/"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        <button [routerLink]="['/contact']" class="btn__contact">Contate Nos</button>
      </div>
    </div>
    </footer>
  </section>
</div>
