#frontpage{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  //header
  .header{
    height:90px;
    width: 100%;
    background-color: $white;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    .header__navbar{
      height: $navsize;
      font-weight: bold;
      .header__list{
        display: inline-block;
        padding:24px 0px;
        line-height: $navsize - 46px;
        >li{
          display: inline;
          padding:0px 20px;
          >a{
            color:$zombie-blue;
          }
        }
      }
    }
    .header__logo{
      position: absolute;
      top:0;
      left: 0;
      .header__logo--title{
        opacity:1;
        padding:32px 0px;
        >a{
          font-family: 'Cabin Sketch', cursive;;
          font-size:42px;
          >i{
            padding:18px 16px;
            font-size: 22px;
            color: $white;
            margin: -12px 24px;
            background-color: #FCC300;
            border-radius: 40%;
            line-height: 14px;
          }
        }
      }
      // .header_logo--img{
      //   opacity: 1;
      //   position: absolute;
      //   top: 0;
      //   >a{
      //     >img{
      //     width: 151px;
      //     height: 100px;
      //   }
      //   }
      //
      // }
    }
  }
  .header__sticky{
    @extend .header;
    position: fixed;
    height: 90px;
    z-index:999;
    transition: 0.6s;
    transition-timing-function: ease-in;
  }
  //wrapper
  .wrapper{
    position: relative;
    min-height: 650px;

    .content{
      width: 100%;
      height: auto;
    }
  }
  //footer
  .footer{
    position: relative;
    background-color:$footercolor;
    width: 100%;
    height: auto;
    .footer__block{
      padding: 24px 0;
      .footer__description{
        color:$white;
        .footer__description--label{
          font-size:12px;
          line-height: 20px;
          font-weight: 500;
          color:$white;
          text-align: justify;
        }
      }
      .footer__social{
        .social__list{
          .social__network{
            display: inline-block;
            padding: 0px 12px;
            text-align: center;
            margin:0 auto;
            font-size: 32px;
            color:$white;
            transition: 0.2s;

          }
          .social__network--twiiter > a{
            color:$white;
            &:hover{
              color: #00aced;
            }
          }
          .social__network--facebook > a{
            color:$white;
            &:hover{
              color: #0077e2;
            }
          }
          .social__network--gplus> a{
            color:$white;
            &:hover{
              color: #ef1a1a;
            }
          }
        }
      }
    }
  }
}
