<div id="partner">
  <h1>Saiba como ser um dos nosso Parceiros</h1>
  <br />  <br />
  O que preciso para ser parceiro ?
  <br />  <br />
  Para ser um dos nossos parceiros, precisamos que a empresa/pessoa envie um email para abraao.reis2012@gmail.com <br /><br /> nesse email o parceiro solicitante deve enviar com o seguinte esboço.
  <br /><br />
  Assunto: Solicitação de Parceria
<br /><br/>
  Corpo do Email:
  Nome do Local , Nome da Pessoa que Solicitou , Nome do Evento/Marca/Exposição, Data e Horário.
<br /><br />
  <!-- A partir daí enviaremos um email resposta com um termo de autorização sobre a utilização das imagens, da divulgação do evento. -->
</div>
